@import 'callout.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Recoleta: serif normal 500 (non-free) */
@font-face {
  font-family: 'Recoleta';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/recoleta/Recoleta-Medium.eot');
  src:
    url('/fonts/recoleta/Recoleta-Medium.woff2') format('woff2'),
    url('/fonts/recoleta/Recoleta-Medium.woff') format('woff'),
    url('/fonts/recoleta/Recoleta-Medium.ttf') format('truetype');
  font-display: swap;
}

/* Recoleta: serif bold 600 */
@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/recoleta/Recoleta-SemiBold.eot');
  src:
    url('/fonts/recoleta/Recoleta-SemiBold.woff2') format('woff2'),
    url('/fonts/recoleta/Recoleta-SemiBold.woff') format('woff'),
    url('/fonts/recoleta/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src:
    local('Inter Variable'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
      format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

/************* 阿里妈妈东方大楷 ************/
@font-face {
  font-family: 'Alimama DongFangDaKai';
  font-weight: normal;
  font-style: normal;
  size-adjust: 110%;
  src:
    local('AlimamaDongFangDaKai'),
    url('/fonts/alimama/AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
    url('/fonts/alimama/AlimamaDongFangDaKai-Regular.woff') format('woff'),
    url('/fonts/alimama/AlimamaDongFangDaKai-Regular.ttf') format('truetype'),
    url('/fonts/alimama/AlimamaDongFangDaKai-Regular.otf') format('opentype');
}

/************* 全字库正楷体备用 ***********/
@font-face {
  font-family: 'TW Kai';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src:
    local('TW-Kai'),
    local('TW-Kai-98_1'),
    url('/fonts/tw/kai/TW-Kai-98_1.ttf') format('truetype');
}

@font-face {
  font-family: 'TW Kai';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src:
    local('TW-Kai-Ext-B'),
    local('TW-Kai-Ext-B-98_1'),
    url('/fonts/tw/kai/TW-Kai-Ext-B-98_1.ttf') format('truetype');
  unicode-range: U+20000-2FFFF;
}

@font-face {
  font-family: 'TW Kai';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src:
    local('TW-Kai-Plus'),
    local('TW-Kai-Plus-98_1'),
    url('/fonts/tw/kai/TW-Kai-Plus-98_1.ttf') format('truetype');
  unicode-range: U+F0000-FFFFF;
}

/* 鸿雷行书简体 */
@font-face {
  font-family: 'hongleixingshu';
  font-weight: normal;
  font-style: normal;
  src:
    local('hongleixingshu'),
    url('/fonts/HongLeiXingShuJianTi.otf') format('opentype');
  font-display: swap;
}

/* Cascadia Code NF Normal*/
@font-face {
  font-family: 'Cascadia Code NF';
  font-weight: 200 700;
  font-style: normal;
  src:
    local('Cascadia Code NF Regular'),
    local('CascadiaCodeNF-Regular'),
    url('/fonts/cascadia/CascadiaCodeNF.woff2') format('woff2-variations'),
    url('/fonts/cascadia/CascadiaCodeNF.ttf') format('truetype-variations');
  font-display: swap;
}

/* Cascadia Code NF Italic */
@font-face {
  font-family: 'Cascadia Code NF';
  font-weight: 200 700;
  font-style: italic;
  src:
    local('Cascadia Code NF Italic'),
    local('CascadiaCodeNF-Italic'),
    url('/fonts/cascadia/CascadiaCodeNFItalic.woff2') format('woff2-variations'),
    url('/fonts/cascadia/CascadiaCodeNFItalic.ttf') format('truetype-variations');
  font-display: swap;
}

@layer base {
  html {
    font-size: 14.5px;
    scroll-behavior: smooth;
  }

  :root {
    /* Used for Expressive code: value from typography */
    --ec-code-font-family: 'Cascadia Code NF', 'Alimama DongFangDaKai', 'TW Kai';
    --ec-code-font-size: 0.875em;
    --ec-code-line-height: 1.7142875;
    --ec-ui-font-family: 'Cascadia Code NF', 'Alimama DongFangDaKai', 'TW Kai';
    --ec-ui-font-size: 0.875em;
    --ec-ui-line-height: 1.7142875;
  }

  @media (min-width: 640px) {
    /* Tailwind 'sm' breakpoint */
    :root {
      --ec-code-font-size: 0.8571429em;
      --ec-code-line-height: 1.666667;
      --ec-ui-font-size: 0.8571429em;
      --ec-ui-line-height: 1.666667;
    }
  }

  @media (min-width: 768px) {
    /* Tailwind 'md' breakpoint */
    :root {
      --ec-code-font-size: 0.888889em;
      --ec-code-line-height: 1.75;
      --ec-ui-font-size: 0.88889em;
      --ec-ui-line-height: 1.75;
    }
  }

  @media (min-width: 1024px) {
    /* Tailwind 'lg' breakpoint */
    :root {
      --ec-code-font-size: 0.9em;
      --ec-code-line-height: 1.7777778;
      --ec-ui-font-size: 0.9em;
      --ec-ui-line-height: 1.7777778;
    }
  }

  [x-cloak] {
    display: none !important;
  }

  .m2it-link-hover {
    @apply text-pink-600;
  }

  .m2it-link {
    @apply hover:m2it-link-hover font-normal text-[#015caa] no-underline;
  }

  .m2it-box-shadow {
    box-shadow:
      8px 14px 38px #272c310f,
      1px 3px 8px #272c3108;
  }

  .m2it-headings {
    @apply my-0 font-semibold text-slate-800;
  }

  .m2it-prose-img {
    @apply my-0;
  }

  .m2it-blockquote {
    @apply my-3 border border-y-0 border-l-4 border-r-0 border-slate-500 py-3 font-normal not-italic;
  }

  .m2it-li {
    @apply my-1.5;
  }

  .m2it-list {
    @apply my-0 pl-[1.8rem];
  }

  .m2it-td {
    @apply px-[10px] py-[5px];
  }

  .m2it-code {
    @apply break-words rounded-md bg-gray-100;
    @apply font-mono text-[90%] font-normal;
    @apply before:content-[''] after:content-[''];
  }

  .m2it-strong {
    @apply font-medium text-gray-800;
  }

  .m2it-table {
    @apply my-0;
  }

  .m2it-prose {
    @apply prose prose-stone max-w-none leading-normal;
    @apply prose-a:m2it-link;
    @apply prose-headings:m2it-headings;
    @apply prose-img:m2it-prose-img;
    @apply prose-blockquote:m2it-blockquote;
    @apply prose-code:m2it-code;
    @apply prose-h1:text-[1.55rem];
    @apply prose-h2:text-[1.45rem];
    @apply prose-h3:text-[1.35rem];
    @apply prose-li:m2it-li;
    @apply prose-ol:m2it-list;
    @apply prose-ul:m2it-list;
    @apply prose-td:m2it-td;
    @apply prose-hr:my-6;
    @apply prose-figure:my-3;
    @apply prose-strong:m2it-strong;
    @apply prose-table:m2it-table;
  }

  .m2it-scrollbar {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ced4da;
      border-radius: 10px;
      &:hover {
        background: #adb5bd;
      }
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &.m2it-scrollbar-small {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 7px;
      }
    }
  }

  /* Hide webkit search cancel button */
  .m2it-hide-wscb {
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      display: none;
    }
  }
}

@layer components {
  .thi-bg {
    @apply bg-white;
  }

  /**
   * Don't forget to change manually for "wave-stone" and "wave-footer-stone"
   * classes in tailwind.config.js
   */
  .thi-bg-stone {
    @apply bg-stone-100;
  }

  .thi-text-color {
    @apply text-main;
  }

  .thi-text-rainbow {
    @apply bg-gradient-to-r from-[#ff88c3] to-violet-400 bg-clip-text text-transparent;
  }

  /* Display as normal text except hoving or on small screen */
  .thi-link-normal {
    @apply md:thi-text-color w-fit text-link md:hover:text-pink-500;
  }
  /* For bg always in dark mode */
  .thi-link-normal-always-dark {
    @apply w-fit text-[#ffd479] md:text-[#f8fafc] md:hover:text-[#ffd479];
  }

  .thi-link {
    @apply text-link transition-colors duration-150 hover:text-pink-500;
  }
  .thi-link-always-dark {
    @apply text-[#ffd479] transition-colors duration-150 hover:text-pink-300;
  }

  .thi-transition-dark {
    @apply transition-colors duration-200 ease-in-out;
  }

  .thi-box-code {
    @apply thi-transition-dark thi-bg thi-text-color rounded-lg shadow-lg;
  }

  .thi-badge-code {
    @apply thi-transition-dark thi-text-color flex h-6 w-fit items-center justify-center rounded-md border bg-stone-100 px-1 align-baseline text-base shadow-sm transition duration-200 ease-in-out hover:-translate-y-0.5;
  }

  .thi-title {
    @apply text-3xl font-semibold text-[#f8fafc];
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .bg-wave-top-white {
    @apply after:block after:h-8 after:w-full after:bg-wave;
  }
  .bg-wave-bottom-white {
    @apply before:block before:h-8 before:w-full before:bg-wave-footer;
  }
  .bg-wave-top-stone {
    @apply after:block after:h-8 after:w-full after:bg-wave-stone;
  }
  .bg-wave-bottom-stone {
    @apply before:block before:h-8 before:w-full before:bg-wave-footer-stone;
  }
}
