---
/**
 * Scroll To Top Button
 *
 * This component provides a button that scrolls the page back to the top.
 * It uses Alpine.js for interactivity.
 *
 * @param {string} [positionClass] - CSS classes for positioning the button.
 * If not provided, the default position is 'bottom-8 right-10'.
 */

import { Icon } from 'astro-icon/components'

interface Props {
  positionClass?: string
}

const { positionClass } = Astro.props
---

<div x-data="{opacity: 'opacity-0'}">
  <button
    type="button"
    class:list={[
      'group fixed z-50 flex h-12 w-12 items-center justify-center',
      'rounded-full bg-slate-200 p-2 transition-all duration-300 hover:bg-slate-300',
      positionClass ?? 'bottom-8 right-10',
    ]}
    x-show="opacity"
    x-on:click="window.scrollTo({top: 0, behavior: 'smooth'}); opacity = 'opacity-0'"
    x-on:scroll.window="window.scrollY > 100 ? opacity = 'opacity-100' : opacity = 'opacity-0'"
    x-bind:class="opacity"
    x-cloak
  >
    <Icon name="BackToTopIcon" />
  </button>
</div>
